name: Publish

on:
  release:
    types: [published]

jobs:
  publish-dockerhub:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile -t linkytic-exporter

    - name: Tag image
      run: |
        docker tag linkytic-exporter dmachard/linkytic-exporter:${{ github.event.release.tag_name }}
        docker tag linkytic-exporter dmachard/linkytic-exporter:latest

    - name: Upload to DockerHub
      run: |
        docker login -u ${{ secrets.DOCKERHUB_LOGIN }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
        docker push dmachard/linkytic-exporter:latest
        docker push dmachard/linkytic-exporter:${{ github.event.release.tag_name }}